.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,67,195,1) 0%, rgba(4, 4, 128) 100%);
  color: white;
  padding-bottom: 100px;
}

.header h1{
  text-align: center
}

.guess-box {
  padding-top: 50px;
  text-align: center;
}

.guess-input {
  height: 25px;
  border-radius: 25px;
  background-color: rgb(81, 169, 172);
  border: none;
}

/* Guess submit button */
.guess-button { 
  margin-left: 5px;
  border-radius: 10px;
  border: none;
  height: 25px;
}

/* guess a swimmer label */
.label {
  display: block;
}

.guess-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:15px;
  margin-bottom: 1%;
  margin-top: 1.5%;

}

.guess-name > img {
  width:100px;
}

.guess-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px
}

.guess-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  background-color: hsl(231, 82%, 45%);
  border-radius: 20px;
  padding: 20px;
  width: 700px;
}

 .hintCategory {
  color: gray;
  font-size: 12px;
} 

.guess-result > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 2px;
  padding: 10px;
  padding-inline: 25px;
  background-color: rgb(51, 51, 51);
  border-radius: 20px;
}

.game-win {
  text-align: center;
}

.game-loss {
  text-align: center;
  margin-bottom: 20px;
}

.restart-container {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
